html {
  scroll-behavior: smooth;
}

/* NAVBAR */
#header .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 7vh;
  min-width: 100vw;
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: #02a5d6;
}

#header .nav-toggler {
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .nav-toggler:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: nav-toggler_puls 1s ease infinite;
}

#header .nav-toggler .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .nav-toggler .bar::after,
#header .nav-toggler .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .nav-toggler .bar::after {
  top: 8px;
}

#header .nav-toggler .bar::before {
  bottom: 8px;
}

#header .nav-toggler.active .bar::before {
  bottom: 0;
}
#header .nav-toggler.active .bar::after {
  top: 0;
}

@keyframes nav-toggler_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@media only screen and (min-width: 1200px) {
  #header .nav-toggler {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
}

/* CAROUSEL */
.home .carousel-item {
  min-height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.home .logo {
  color: #ffffff;
}

.home .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .carousel-item h2 {
  font-size: 40px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.home .carousel-item h2 img {
  height: 35px;
}

.home .carousel-item p {
  font-size: 15px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}

.home .carousel-item.active h2 {
  animation: fadInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
  animation: fadInRight 0.5s ease forwards;
}

@keyframes fadInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* NEWSLETTER */
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

#newsletter #body {
  font-size: 30px;
  text-transform: uppercase;
}

#newsletter #body a {
  font-size: 12px;
}

#newsletter .btn-primary {
  border-color: #02a5d6;
  color: #15202b;
  width: 98px;
  background: #02a5d6;
  margin-top: 25px;
}

#newsletter .btn-primary:hover {
  border-color: #066b8a;
  background: #066b8a;
  color: #fff;
}

#newsletter .btn-warning {
  font-size: 12.7px;
  width: 186px;
  color: #15202b;
  margin-bottom: 25px;
}

#newsletter .btn-warning:hover {
  border-color: rgb(153, 101, 4);
  background-color: rgb(153, 101, 4);
  color: #fff;
  margin-bottom: 25px;
}

/* #newsletter .btn-warning:hover {
  color: #fff;
} */

#newsletter .btn .btn-outline-light {
  margin-top: 5px;
  width: 100px;
  border-radius: 6px;
}

/* CARD */
.card {
  transition: all 0.5s;
}

.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.card-body .btn {
  padding: 7px 22px;
}

.card-body .btn-primary {
  border: none;
  font-weight: 400;
}

.card-body .btn-dark {
  border: none;
  font-weight: 400;
}

/* LEARN */

#learn p {
  font-size: 18.8px;
  line-height: 26.6px;
  height: 80px;
  overflow: hidden;
}

#learn .showContent p {
  height: auto;
}

#learn a {
  font-size: 18.8px;
  color: #02a5d6;
  text-decoration: none;
  font-style: italic;
}

#learn a:hover {
  text-decoration: underline;
}

#learn .showContent a.read-button {
  color: crimson;
}

/* FOOTER */
#footer .container {
  color: #02a5d6;
}

#footer .container a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

#footer .container a:hover {
  text-decoration: underline;
}
